body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #12171F; 
    color: #E4E7EB; 
}

h1 {
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E4E7EB;
}

header {
    background-color: #1E2A38;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

section {
    background: #1E242E;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
}

section h2 {
    margin-top: 0;
    color: #4DA3FF;
}


a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #9BB6D1;
    transition: 0.4s;
}

a:hover {
    color: #4DA3FF;
}

div {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
}

div button {
    font-size: 15px;
    background-color: #2B3A55; 
    border: solid 1px #3C4C63;
    color: #E4E7EB;
    border-radius: 5px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    padding: 8px 15px;
    cursor: pointer;
}

div button:hover {
    background-color: #364763; 
    transform: translateY(-2px);
}

div p {
    font-size: 13px;
    color: #C7CCD2;
}
