html{
    background-color: #2c3e50;
}

h1{
    font-family: Poppins;
    font-size: 50px;
    color: rgb(107, 107, 107);
}
 .div1{
    display: flex;
    flex-direction: column;
    width: 250px;
 }
 .div2{
   display: flex;
 }
 p{
   padding: 15px;
   padding-left: 24px;
   font-size: 14px;
 }
 a{
     text-decoration: none;
     color: #858585;
     transition: 0.6s;
 }
 a:hover{
   color: #000000;
   font-size: 16px;
 }
 input{
    margin-top: 10px;
    border: rgb(228, 228, 228);
    border-radius: 5px;
    height: 25px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.7);
    transition: 0.5s;
    padding: 7px;
 }
    input:hover{
        background-color: #d8d8d8;
    }
 button{
   color: rgb(228, 228, 228);
   padding: 7px;
    cursor: pointer;
    margin-top: 20px;
    height: 30px;
    max-width: 100px;
    border-radius: 5px;
    border: solid 0px;
    background-color: #2c3e50;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.7);
    transition: 0.5s;
 }
 button:hover{
    font-size: 15px;
 }
 .cadastro{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;   
    margin: 100px auto;  
    border: 3px solid #2c3e50;
    padding: 80px;
    box-sizing: border-box;
    border-radius: 18px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 1);
    margin-top: 270px;
 }
 .mensagem{
   padding-top: 65px;
   margin-left: -230px;
   font-family: Poppins;
   font-size: 19px;
 }