html {
    background-color: #12171F; /* fundo escuro */
}

h1 {
    font-family: Poppins;
    font-size: 50px;
    color: #A5ACB8; /* cinza claro elegante */
}

.div1 {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.div2 {
    display: flex;
}

p {
    padding: 15px;
    padding-left: 24px;
    font-size: 14px;
    color: #E4E7EB;
}

a {
    text-decoration: none;
    color: #9BA3AE;
    transition: 0.6s;
}

a:hover {
    color: #4DA3FF; /* azul destaque */
    font-size: 16px;
}

input {
    margin-top: 10px;
    border: 1px solid #2C3340;
    border-radius: 5px;
    height: 25px;
    background-color: #1A1F26;
    color: #E4E7EB;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
    transition: 0.5s;
    padding: 7px;
}

input:hover {
    background-color: #242C37;
}

button {
    color: #E4E7EB;
    padding: 7px;
    cursor: pointer;
    margin-top: 20px;
    height: 30px;
    max-width: 100px;
    border-radius: 5px;
    border: none;
    background-color: #2B3A55;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.7);
    transition: 0.5s;
}

button:hover {
    background-color: #364763;
    font-size: 15px;
}

.login {
    background-color: #1E242E; /* card escuro */
    color: #E4E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 100px auto;
    padding: 80px;
    border-radius: 18px;
    border: 3px solid #1E242E;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 1);
    margin-top: 270px;
}

.mensagem {
    padding-top: 65px;
    margin-left: -230px;
    font-family: Poppins;
    font-size: 19px;
    color: #C8CCD2;
}
